@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.header {
    --angle: 0deg;
	width: 40vmin;
	height: 13vmin;
	border: 5px solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	
	animation: 10s rotate linear infinite;
    font-family: 'Dancing Script', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 4px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffdbff;
    margin-top: 20px;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.header h1 {

    margin-bottom: -10px;

}

.columns {
    border: 2px solid rgb(26, 26, 26);
    margin: 30px;
    margin-top: 150px;
    width: 16%;
    height: 600px;
    text-align: center;
    --angle: 0deg;
	border: 5px solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	
	animation: 10s rotate linear infinite;
    text-shadow: 10px;
}

.columns p {

    margin-top: 430px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}

.container {
    display: flex;
    justify-content: center;

}


